<!DOCTYPE html>
<html>
    <head>
        <!-- 
          This is the head section. 
          It includes optional information about the web page (author, date, etc)
          It must include the charater set and the title
        -->
        <meta charset="UTF-8">
        <title>The World of Malware</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
      
    <header>
        <h1>The World of Malware</h1>
    </header>
    <hr>
