<%- include("partials/head.ejs") %>
    <nav>
        <a class="active" href="/">Home</a>
        <a href="/viruses">Viruses</a>
        <a href="/trojans">Trojan Horses</a>
        <a href="/ransoms">Ransomware</a>
        <a href="/vulns">Vulnerabilities</a>
    </nav>

    <br><br>

    <main>
        <figure>
            <img src="img/cyber-attack-globe.jpg" alt="Image of cyber attack connections going across the world">
        </figure>

        <div id="content">
            <br><br>
            <strong>Welcome to the World of Malware!</strong>
            <br>
            <p>On this website, you can learn about some common types of malware,<br>
            such as Viruses, Worms, Trojan Horses, and Ransomware.</p>
            <p>NEW: Check out the Vulnerabilities page to learn about exploits that power malware!</p>
            <p>Click any link in the navigation bar that interests you!</p>               
        </div>
    </main>
<%- include("partials/foot.ejs") %>