<%- include("partials/head.ejs") %>
    <nav>
        <a href="/">Home</a>
        <a href="/viruses">Viruses</a>
        <a class="active" href="/trojans">Trojan Horses</a>
        <a href="/ransoms">Ransomware</a>
        <a href="/vulns">Vulnerabilities</a>
    </nav>

    <br><br>

    <main>
        <div id="content">
            <img src="img/bonzibuddy.jpg" alt="Picture of the BonziBUDDY logo">
            <img src="img/bonzibuddy.png" alt="Picture of the BonziBUDDY character (purple gorilla)">
            <br>
            Images Credit: <a href="https://web.archive.org/web/20001019031507/http://www.bonzi.com/bonzibuddy/bonzibuddyfreehom.asp"><span class="active">Original <strong>Bonzi<span class="bonzibuddy">BUDDY</span></strong> website from October 19th, 2000 (archive.org)</span></a>
            <br>
            Left image is the logo of <strong>Bonzi<span class="bonzibuddy">BUDDY</span></strong>, right image the character of <strong>Bonzi<span class="bonzibuddy">BUDDY</span></strong> (purple gorilla).

            <p><strong>In summary,</strong> a trojan horse is a type of malicious program
            <br>that requires the end user taking some type of action in order to run it.
            <br>The term comes from the Greeks using a wooden horse to lure the Trojans into an invasion.</p>
            <p><strong>Trojan horses</strong> are unique from viruses and worms as those types of malware
            <br>can often be spread without user interference. With a trojan horse, the end-user must do
            <br>something (usually downloading a seemingly innocous program) in order to damage the system.

            <p>For this page, I thought it would be fun to exclusiuvely feature <strong>Bonzi<span class="bonzibuddy">BUDDY</span></strong>, one of the most infamous <del>desktop assistants</del> trojan horses to ever exist.
            <br></p>

            <!-- Table with trojan horses -->
            <table>
                <tr id="table-header">
                    <td><strong>Trojan Horse Name</strong></td>
                    <td><strong>Years Active</strong></td>
                    <td><strong>Trojan Horse Description</strong></td>
                </tr>
                <tr class="table-row">
                    <td>Bonzi<span class="bonzibuddy">BUDDY</span></td>
                    <td>1999-2004</td>
                    <td>One of the most infamous trojans to ever exist. The
                    program disguised itself as a digital assistant/friend
                    <br>that was intended to make using your computer and the
                    Internet easier. It had a respectable assortment of
                    <br>features to make users believe it was legitimate
                    software. However, it was later found that the parent
                    <br>company, Bonzi Software, was providing this program with
                    malicious intent, as it had later been discovered to
                    <br>have a backdoor that can allow more malicious
                    programs to enter the system, in addition to the fact that
                    <br>Bonzi Software was collecting a concerning amount of
                    information about its users, such as physical addresses.
                    <br>If you are interested in this program, please watch the
                    YouTube video linked in the sources list for this page.
                    <br>It also talks about Bonzi Software's other products,
                    such as Internet Boost and Internet Alert.</td>
                </tr>
            </table>
    <p></p>
            <strong>Source for this page:</strong>
            <a href="https://www.youtube.com/watch?v=gU1hesbmaKM"><span class="active">The Story of <strong>Bonzi<span class="bonzibuddy">BUDDY</span></strong> (1999-2004) (The Science Elf, YouTube)</span></a>
        </div>
    </main>
<%- include("partials/foot.ejs") %>