<!-- TODO: Modify HTML to new content -->

<%- include("partials/head.ejs") %>
    <nav>
        <a href="/">Home</a>
        <a href="/viruses">Viruses</a>
        <a href="/trojans">Trojan Horses</a>
        <a href="/ransoms">Ransomware</a>
        <a class="active" href="/vulns">Vulnerabilities</a>
    </nav>

    <br><br>

     <main>
        <div id="content">
            <img src="img/zero-day.jpg" alt="Vector about Zero-Day Vulnerabilities">
            <br>
            Image Credit: <a href="https://www.varonis.com/blog/zero-day-vulnerability"><span class="active">Zero-Day Vulnerability Explained</span></a>
            <br>

            <p><strong>In summary,</strong> a vulnerability is some type of system flaw. They appear in all
            <br>levels of computing, from surface level software, to operating systems, to firmware.
            <br>The most infamous pieces of malware exploit one or more vulnerabilities to maximize damage.</p>
            <p><strong>When new vulnerabilties are discovered,</strong> they are added to the National Vulnerability Database (NVD).
            <br>This database is maintained by the National Institute of Standards and Technology, U.S. Department of Commerce.
            <br>Using the power of Web APIs, you can look up information about a vulnerability in this database with just its CVE number!
            </p>
            <!-- This is probably where the form for CVE lookups will go. -->
            <p>TODO: Add form here!</p>
            <p></p>
            <strong>Source for this page:</strong>
            <a href="https://nvd.nist.gov/"><span class="active">National Vulnerability Database</span></a>
        </div>
    </main>
<%- include("partials/foot.ejs") %>